/* First section */
#first_section .section_wrapper {
    display: grid;
    grid-template-columns: 3fr 2fr;
    column-gap: 30px;
}

#first_section .section_wrapper .quote {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 250px;
}

#first_section img {
    height: 1000px;
    object-fit: cover;
}

/* Second section */
#second_section video {
    width: 100vw;
    margin-top: -41px;
}

/* Third section */
#third_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
}

#third_section .section_wrapper .col_text {
    margin: 80px;
}

#third_section .section_wrapper .col_text p {
    padding-bottom: 15px;
}

#third_section img {
    height: 1000px;
    object-fit: cover;
    margin-top: -41px;
}

/* Fourth section */
#fourth_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 0px;
}

#fourth_section img {
    margin-top: -48px;
}

/* Fifth section */
#fifth_section .section_wrapper .columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 50px;
}

#fifth_section .section_wrapper {
    margin: 60px;
}

#fifth_section .section_wrapper h4 {
    margin-bottom: 0;
}
