p {
    margin: 0;

}

h5 {
    /* Padding/Afstand fra top*/
    padding-top: 10vw;
    margin: 0px;
    margin-bottom: 20px;

}

#first_section h3 {
    margin: 0;
    padding: 0;
    /* Tekst Streg - Farve - Tykkelse*/
    border-bottom: solid black 2px;
    /* Padding/Afstand fra venstre*/
    padding-left: 0;
    /* Padding/Afstand fra top*/
    padding-top: 0px;
    margin: 20px 0px 20px 0px;
}



#first_section .section_wrapper {
    display: grid;
    grid-template-columns: 4fr 5fr;
    /*Lodret linjeafstand mellem grid*/
    grid-column-gap: 40px;
    margin-left: 0px;

}


#first_section .section_wrapper .col_wide .row {
    display: grid;
    grid-template-columns: 2fr 2fr auto;
    column-gap: 10px;
    /*Lodret linjeafstand mellem grid*/
    grid-column-gap: 100px;
}

#first_section .section_wrapper img {
    display: block;
    height: 900px;
    object-fit: cover;
    object-position: left;

}

#first_section .col img {
    width: 3vw;
    height: auto;
    background-color: white;
    border-radius: 3vw;
    display: inherit;
}

#first_section .col img:hover {
    filter: invert(100%);
}

@media(max-width: 600px) {
    #first_section .col img {
        width: 5.5vw;
    }
}

.times {
    text-align: left;
    /* Font Type*/
    font-family: 'Helvetica Neue', sans-serif;
    /* Tekst Størrelse*/
    font-size: 16px;
    /* Tekst Tykkelse*/
    font-weight: 200;
    /* Linje Afstand*/
    line-height: 25px;

}

.hours {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


/*

#first_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 20px;

}

#first_section .col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}

#first_section .col_tekst {
    display: flex;

}
*/
