/*
body {
    background-image: url(selected_items_content/Group%2096.png);
    background-repeat: repeat-y;
    background-position: right top;
    background-attachment: fixed;
    background-size: 0.8rem;
}*/



main h1 {
    font-size: 2rem;
    margin: 0;
    padding: 20px 0 5px 0;
}


main h5 {
    margin-top: 20px;
    padding: 25px 25px 0px 25px;
}

main p {
    margin: 0;
    padding: 0px 25px 25px 25px;
}


#second_section .section_wrapper {
    background-color: black;
    color: white;
    padding: 0 10px 10px 10px;
    margin: 0px 0px 50px 0px;
    text-align: center;
    transition: 0.9s;
}

#second_section p {
    padding: 0;
    font-size: 1rem;
}

#second_section .section_wrapper .botton {
    width: 200px;
    border: solid 1px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    display: block;
    cursor: pointer;
    margin: 0px auto 25px auto;
}

#second_section .section_wrapper .botton:hover {
    color: #000000;
    background: rgb(255, 255, 255);
    /*
    transform: scale(1.1);*/
}

#second_section .section_wrapper:hover {
    transform: scale(1.1);
}

#third_section .section_wrapper {
    grid-column-gap: 4vw;
    grid-row-gap: 4vw;
    transition: 0.9s;
    margin-bottom: 12vw;

}

#third_section img:hover {
    transform: scale(1.1);
}

#third_section img {
    transition: 0.5s;
}


/*------------------------ MEDIA Q ---------------------------*/

@media (min-width: 600px) {
    body {
        background-size: 1rem;
    }

    main h1 {
        font-size: 2.5rem;
    }

    main h5 {
        padding: 50px 50px 0px 75px;
    }

    main p {
        padding: 0px 75px 0 75px;
    }

    .col {
        padding: 0;
    }

    #first_section .section_wrapper {
        display: grid;
        grid-template-columns: 40vw 60vw;
    }

    #first_section img {
        padding: 0;
        height: 100%;
        object-fit: cover;
    }

    #second_section {
        margin-top: 0;
    }

    #third_section .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 20px 50px;

    }


}
