/* Generelt */
* {
    box-sizing: border-box;
}

body {
    margin: auto 0;
}

section img {
    width: 100%;
}

/* Nav */
header {
    margin: 8px;
    margin-bottom: 0;
    margin-left: 0;
}

nav img {
    height: 20px;
    padding-right: 20vw;
    padding-left: 20px;
}

nav {
    width: 100vw;
    display: flex;
    flex-direction: row;
    border-bottom: solid black 1px;
}

nav .menu a {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 15px;
    font-weight: 200;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    padding-left: 8vw;
}

nav .menu a:hover {
    text-decoration: underline;
}

/* FONTS */

/* H1 */
h1 {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 45px;
    font-weight: 200;
    text-transform: uppercase;
}

/* H2 */
h2 {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 55px;
    font-weight: 200;
    text-transform: uppercase;
    margin-bottom: 0;
}

/* H3 */
h3 {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 200;
    text-transform: uppercase;
}

/* H4 */
h4 {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 200;
    text-transform: uppercase;
    text-decoration: underline;
}

/* P */
p {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 200;
    line-height: 30px;
}
